@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
h1,h2 {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.1;
}
h1 { font-size: 26px }
h2 { display: inline; font-size: 20px }
h3 { display: inline; font-size: 20px }
a {
  color: #008cba;
  cursor: auto;
  text-decoration: none;
}
a:hover {text-decoration:underline;}
#footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
  color: #666;
}
